.notification {
  background-color: #fff;
  filter: drop-shadow(4px 4px 0px #e6e6e6);
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 8px;
  display: flex;
  gap: 4px;
  font-weight: bold;

  .error {
    color: red;
  }
  
  .message {
    color: green;
  }

  .close-button {
    position: relative;
    top: -4px;
    right: -4px;
    cursor: pointer;
  }
}

.loader {
  animation: animate 2s infinite;
  position: fixed;
  right: 30px;
  bottom: 30px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
} 