.notification {
  background-color: #fff;
  filter: drop-shadow(4px 4px 0px #e6e6e6);
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 8px;
  display: flex;
  // align-items: center;
  gap: 4px;

  .error {
    font-weight: bold;
    color: red;
  }
  
  .message {
    font-weight: bold;
    color: green;
  }

  .close-button {
    position: relative;
    top: -4px;
    right: -4px;
    cursor: pointer;
  }
}