@use '../../styles/variables' as v;

.card-button {
	
	button {
		text-align: center;
		width: 100%;
		background: #6c757d;
		border: none;
		color: #fff;
		font-weight: 700;
		min-height: 32px;
		cursor: pointer;

		&:hover {
			background: #000;
			
		}
	}
}