.column-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 30px;
 
  .kanban-button {
    margin-top: 30px;
    background: #4a65ff;
    height: 40px;
    clip-path: polygon(
      0% 12px,
      12px 0%,
      100% 0%,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      0% 100%
      );

    &.recycle-bin {
      background: #E50000;
    }
      
    &:hover {
      background: #000;
    }
      
    &.add-card {
      padding: 8px;
    }
      
    &.recycle-bin {
      padding: 5px;
    }
  }
}