@use '../../styles/variables' as v;

.column {
  // background: lightsteelblue;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 200px;
  // &:not(:last-child) {
  //   min-width: 200px;
  // }
  &:last-child {
    // background: yellow;
    // height: 200px;
  }

  .card {
    background: slateblue;
    height: 200px;
  }

  .recycle-bin {
    // height: 100vh;
  }

  .icon-recycle-bin {
    width: 64px;
    margin: 0 auto;
    cursor: pointer;
  }

  .add-card {
    background: lightgray;
    width: 100%;
    height: 52px;
    display: grid;
    place-items: center;
    border-radius: 10px;

    .icon-add-card {
      width: 32px;
    }
  }
}
