@use '../../styles/variables' as v;

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.box-wrap {
  filter: drop-shadow(10px 10px 0px #e6e6e6);
}

.box-carditem {
  width: 80vw;
  // position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background: white;

  .item-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background: cadetblue;
    width: 100%;
    height: 100%;

    .item {
      color: #999;
      text-align: center;
      width: 100%;
      padding: 4px 0;
      outline: none;
      background: none;
      border: none;
      font-size: 16px;
      font-weight: 700;
      margin: 10px;
    }
  }
  button {
    border: none;
    background: #4a65ff;
    width: 40%;
    height: 40px;
    margin-top: 16px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    clip-path: polygon(
      0% 20px,
      20px 0%,
      100% 0%,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0% 100%
    );
    transition: background 0.2s ease;

    &:hover {
      background: #000;
    }
  }
}
