@use '../../styles/variables' as v;

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
	// text-align: center;
	// min-height: 100vh;
}

.login-link {
	position: absolute;
	top: 16px;
	right: 16px;
}