@import '../../styles/App.scss';

.box-account {

  filter: drop-shadow(10px 10px 0px #e6e6e6);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  padding: 32px;
  background: #fff;
  

  .logo {
    width: 40px;
    margin-bottom: 32px;
  }

  .account-form {
    width: 100%;

    .input-wrap {
      width: 100%;
      display: flex;
      flex-direction: column; /* Utilisez une disposition en colonnes pour les étiquettes et les champs d'entrée */
      position: relative;
      margin-bottom: 32px;

      label {
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 4px; /* Espace entre l'étiquette et le champ d'entrée */
        color: #999;
      }

      input {
        width: 100%;
        padding: 4px 0;
        outline: none;
        border: none;
        border-bottom: 1px solid #999;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .button--logout {
    background: orange;

    &:hover {
      background: red;
    }
  }

  .button--password {
    @extend .button;
    width: 100%;
    background: #6495ED;

    &:hover {
      background: #4682B4;
    }
  }

  .infoMessage {
    color: #009000;
    position: relative;
    bottom: 6px;
    font-weight: bold;
    
    &--password {
      @extend .infoMessage;
      bottom: 10px;
    }
  }

  .errorMessage {
    color: red;
    position: relative;
    top: 10px;
    font-weight: bold;
    
    &--password {
      @extend .errorMessage;
      bottom: 10px;
    }
  }
}

