.navbar {
  position: sticky;
  z-index: 2;
  left: 0;
  background-color: #333;
  color: #fff;
  min-width: 180px;
  height: 100%;
  border-right: 10px solid #dbdbdb;
  box-sizing: border-box;

  .display-mobile-menu {
    display: none;
  }

  .brand-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-bottom: 2px solid #666;
    margin: 0 16px;

    img {
      width: 32px;
    }

    h2 {
      font-size: 20px;
    }
  }

  .welcome-wrapper {
    height: 64px;
    border-bottom: 2px solid #666;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 16px;

    span:last-child {
      font-weight: 900;
    }
  }

  .navigation-wrapper {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    .btn-navigation {
      width: 100%;
      height: 32px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-weight: 900;

      img {
        width: 16px;
        margin-right: 8px;
      }

      span {
        font-size: 12px;
      }
    }
  }
}

// Do not display the navbar when the screen is smartphone sized
@media screen and (max-width: 768px) {
  .navbar { 
   all:unset;
    .navbar-content {
      display: none;
    }

    .display-mobile-menu {
      all: unset;
      z-index: 3;
      position: fixed;
      bottom: 5%;
      right: 5%;
      height: 40px;
      width: 40px;
      background-color: #4a65ff;
      border-radius: 50%;
      color: white;
      text-align: center;
      line-height: 30px;
      font-size: 50px;
      padding: 8px;
    }
  }

  .navbar--mobile {
    transition: 0.3s;
    position: fixed;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6E83FF;
    border-top-left-radius: 90%;
    padding: 70px 0px 12px 40px;
    bottom: 0px;
    right: 0px;
    z-index: 2;

    .navbar-content {
      height: 80%;
      width: 50%;

      .navigation-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .btn-navigation {
          display: flex;
          justify-content: center;
          span {
            display: block;
          }
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: #fff;
          font-weight: 900;
        }
      }

      img, h2, .welcome-wrapper {
        display: none;
      }
    }
    
    .display-mobile-menu {
      all: unset;
      z-index: 3;
      position: fixed;
      bottom: 5%;
      right: 5%;
      height: 40px;
      width: 40px;
      background-color: #4a65ff;
      border-radius: 50%;
      color: white;
      text-align: center;
      line-height: 30px;
      font-size: 50px;
      padding: 8px; 
    }
  }
}