.navbar {
  position: sticky;
  z-index: 2;
  left: 0;
  background-color: #333;
  color: #fff;
  min-width: 180px;
  height: 100%;
  border-right: 10px solid #dbdbdb;
  box-sizing: border-box;

  .mobile-menu {
    display: none;
  }

  .brand-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    border-bottom: 2px solid #666;
    margin: 0 16px;

    img {
      width: 32px;
    }

    h2 {
      font-size: 20px;
    }
  }

  .welcome-wrapper {
    height: 64px;
    border-bottom: 2px solid #666;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 16px;

    span:last-child {
      font-weight: 900;
    }
  }

  .navigation-wrapper {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;

    .btn-navigation {
      width: 100%;
      height: 32px;
      // background: lightseagreen;
      padding: 0 16px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-weight: 900;

      img {
        width: 16px;
        margin-right: 8px;
      }

      span {
        font-size: 12px;
      }
    }
  }
}

// Do not display the navbar when the screen is smartphone sized
@media screen and (max-width: 768px) {
  .navbar { 
   all:unset;
    .navbar-content {
      display: none;
    }

    .mobile-menu {
      display: flex; /* Utilisation de flexbox */
      flex-direction: row;
      justify-content: center;
      align-items: center;
      all: unset;
      position: fixed; // TODO FIX
      bottom: 10px;
      right: 20px;
      height: 100px;
      width: 100px;
      border: red solid 2px;
      border-radius: 40%;
      font-size: 50px;
      
      .menu-deploy {
        display: block;
        background-color: blue;
        flex: 1;
        position: relative;
        // top: 10px;
        // left: 30px;
      }
    }



  }
}