@use '../../styles/variables' as v;

.footer {
	// width: 80vh;
	text-align: center;
  position: absolute;
	bottom: 0; 
	left: 50%;
	padding: 10px;
	background-color: white;

	a {
		text-decoration: none;
		color:black; 
	}
}