.filters {
	display: flex;
	justify-content: space-around;
  align-items: center;
	position: relative;
	padding: 20px;
  width: 100%;
  min-width: 420px;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  
  span {
    color: #555;
  }
	
	.item {
		padding: 4px 8px;
		cursor: pointer;
		
		&.active {
			color: #fff;
		}
	}
	
	.indicator {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		clip-path: polygon(
      0% 12px,
      12px 0%,
      100% 0%,
      100% calc(100% - 12px),
      calc(100% - 12px) 100%,
      0% 100%
      );
	}
}