.contacts {
  display: flex;
  flex-direction: column;
  margin: 16px;
  text-align: center;


  .contacts-container {
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  .contacts-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

    .add-contact-button {
      width: 70%;
       border: none;
        background: #4a65ff;
        font-size: 14px;
        width: 90%;
        height: 50px;
        margin: 12px 0 12px;
        color: black;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        cursor: pointer;
        clip-path: polygon(
          0% 20px,
          20px 0%,
          100% 0%,
          100% calc(100% - 20px),
          calc(100% - 20px) 100%,
          0% 100%
        );
        transition: background 0.2s ease;
  
        &:hover {
          background: #000;
        }
  
    }
    
  }
}
  

@media screen and (max-width: 768px) {
  .contacts {
    .contacts-container {
      justify-content: center;
    }
  }
}